nav {
    background-color: #6272a4;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
}
li{
    display: inline-block;

}
.logo_main{
    display: inline-block;
    margin: 10px;
    margin-right: 20px;
    color:#f8f8f2;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282a36;
}
a{
    color: #f8f8f2;
    font-family: sans-serif;
    text-decoration: solid;
    padding: 7px;
}
a:visited{
    color: #f8f8f2;
    font-family: sans-serif;
    text-decoration: solid;
    font-style:normal;
}

.links{
    display: inline-block;
    margin-left: 60%;  
    margin-bottom: 10px;
    /* margin: 10px; */
    
}
.input_form_div{
    margin-top: 15px;
    color: #f8f8f2;
    margin-left: 20px;
}

/* .gender_label{
    color: #f8f8f2;
    font-weight: bolder;
    font-size: 1.3em;
    font-family:  Helvetica;
 
    
} */

.submit_btn{
    margin-top: 20px;
    background-color: #48D06D;
    text-decoration: solid;
    color: #383A59;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.3em;
    border-radius: 7px;
}

/* .gender_div{
    margin-top: 15px;
    margin-left: 20px;   
} */

.form_register{
    width: 319px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #383A59;
}
.form_register label{
    font-weight: bolder;
    font-size: 1.3em;
    font-family:  Helvetica;
    margin-top: 15px;
}